* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

.margin {
    background: #ffcccc;
    width: 100%;
    height: 100%;
    padding: 40px
}

.border {
    background: #ff9900;
    width: 100%;
    height: 100%;
    padding: 30px;
}

.padding {
    background: #ffff66;
    width: 100%;
    height: 100%;
    padding: 30px;
}

.content {
    background: #66ff66;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 48px;
    text-align: center;
    justify-content: center;
}

